.contacts {
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $grey-basic;
  text-align: center;

  margin-top: 42px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;

    margin-top: 65px;
  }
}

.contacts__list {
  width: 320px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;

    width: 660px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;

    width: 960px;
  }
}

//.contacts__list::after {
//  content: "";
//  width: auto;
//  height: auto;
//  position: absolute;
//  background-image: url("../../img/index/map_triangle.svg");
//  background-size: cover;
//  top: 150px;
//  z-index: 1;
//}

.contacts__item:first-child {
  @media (min-width: $desktop-width) {
    order: -2;
  }
}

.contacts__item:last-child {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    order: -1;
  }
}

.contacts__item {
  @media (min-width: $desktop-width) {
    margin-left: 25px;
  }
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: $grey-basic;
  text-align: center;

  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-top: 24px;
  }
}

.contacts__link,
.contacts__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $pink-basic;
  text-align: center;
  display: block;

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.contacts__item:last-child .contacts__subtitle {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 24px;
  }
}

.contacts__text {
  margin-top: 0;

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.contacts__svg {
  position: absolute;
  width: 100%;
  z-index: -1;
  transform: translateY(-80px);
  fill: $white;

  @media (min-width: $tablet-width) {
    transform: translateY(-52px);
  }

  @media (min-width: $desktop-width) {
    transform: translateY(-1px);
  }
}

.contacts__map {
  width: 100%;
  position: relative;
  z-index: -3;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}

//.contacts__map::before {
//  content: "";
//  position: absolute;
//  margin: auto;
//  top: 0;
//  bottom: auto;
//  left: 0;
//  right: 0;
//  width: 100%;
//  height: 53px;
//  background: url("../../img/index/map_triangle.svg") no-repeat top center;
//  z-index: 20;
//}
