.effect-wrap {
  @media (min-width: $desktop-width) {
    background-color: $grey-background-effect;
  }
}

.effect {
  display: none;

  @media (min-width: $tablet-width) {
    width: 660px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    padding-bottom: 67px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". title"
                        ". text"
                        ". link";

    background-image: url("../../img/index/effect_timer_24.svg"),
                      url("../../img/index/effect_timer_circle.svg"),
                      url("../../img/index/effect_timer.svg");
    background-repeat: no-repeat;
    background-size: 110px 75px,
                    202px 202px,
                    238px 276px;
    background-position: 85px 172px,
                        38px 109px,
                        20px 53px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 130px;
    padding-bottom: 112px;

    grid-template-columns: 1fr 2fr;
    grid-template-areas: ". title"
                        ". text"
                        ". link";
    background-size: 134px 94px,
                    252px 252px,
                    298px 345px;
    background-position: 215px 172px,
                        153px 95px,
                        130px 23px;
  }
}

.effect__title {
  grid-area: title;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  margin-top: 95px;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    line-height: 30px;

    padding-left: 57px;
    margin-top: 120px;
    margin-bottom: 0;


    & br {
      display: none;
    }
  }
}


.effect__text {
  grid-area: text;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $grey-basic;

  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;

    margin-top: 25px;
    margin-bottom: 30px;
    padding-left: 57px;
  }
}

.effect__link {
  grid-area: link;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $pink-basic;
  text-decoration: underline;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;

    padding-left: 57px;
  }
}
