.reviews-container {
  width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  justify-items: center;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 130px;

    justify-items: stretch;
    grid-template-columns: 1fr 688px 1fr;
    grid-template-areas: "arrow-left review arrow-right";
  }
}

.review {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 688px;
    padding-top: 165px;
    grid-area: review;

    background-image: url("../../img/index/reviews_quotes.svg");
    background-repeat: no-repeat;
    background-size: 79px 63px;
    background-position: 50% 21%;
  }
}

.review__author {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  margin-top: 45px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    text-align: center;
  }
}

.review__author span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.review__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;

    order: -1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.review__wrap-circle-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.review__circle-button {
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: rgba($color: $grey-basic, $alpha: 0.3);
}

.review__circle-button:hover,
.review__circle-button:focus {
  background-color: rgba($color: $grey-basic, $alpha: 0.6);
}

.review__circle-button:active {
  background-color: rgba($color: $grey-basic, $alpha: 0.1);
}

.review__circle-button--activ {
  background-color: $white;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;

  border: 3px solid $grey-basic;
}

.review__arrow-button {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
    width: 22px;
    height: 41px;
    border: none;
    background-color: $white;
    transform: translateY(212px);
  }
}

@media (min-width: $desktop-width) {
  .review__arrow-button--left {
    grid-area: arrow-left;
  }

  .review__arrow-button--right {
    grid-area: arrow-right;
    margin-left: auto;
  }
}

.review__arrow-button svg {
  fill: $grey-basic;
  stroke: $grey-basic; //rgba($color: $grey-basic, $alpha: 0.3);
}

.review__arrow-button:hover svg,
.review__arrow-button:focus svg {
  fill: rgba($color: $grey-basic, $alpha: 0.3);
  stroke: rgba($color: $grey-basic, $alpha: 0.3);
}

.review__arrow-button:active svg {
  fill: rgba($color: $grey-basic, $alpha: 0.1);
  stroke: rgba($color: $grey-basic, $alpha: 0.1);
}
