.contest__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin: 27px auto 45px;

  @media (min-width: $tablet-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    width: 620px;
    margin-top: 65px;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin-bottom: 83px;
    padding-left: 0;
    padding-right:0;
  }
}

.contest__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $grey-basic;
  text-align: center;
  width: 280px;
  margin: 42px auto 17px;
  padding-left: 20px;
  padding-right: 20px;

  span {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 490px;
    margin-top: 90px;
    margin-bottom: 70px;

    span {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 760px;
    margin-bottom: 75px;
  }
}

.contest__form {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-areas: "name" "app" "contacts" "progress" "emotion";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "name app"
                        "contacts contacts"
                        "progress progress"
                        "emotion emotion"
                        "button button";
    column-gap: 74px;
    justify-items: stretch;
    width: 940px;
    margin: 0 auto;
  }
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px 36px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }
}

.fieldset--grey-background {
  background-color: $grey-background-effect;
  padding-top: 115px;
  padding-bottom: 0;
 //margin-bottom: 10px;
  text-align: left;
  position: relative;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 620px;
    margin: 0 auto;
  }
}

.fieldset-text,
.fieldset-text::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: $grey-basic;
}

.fieldset-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  color: $pink-basic;
  text-transform: uppercase;
}
