.form__emotion {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    width: 620px;
    background-color: $white;
    grid-area: emotion;

    border: 2px solid $grey-light;
    padding: 20px 0 55px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-bottom: 50px;
  }
}

.emotion__title {
  display: block;
  margin: 0 auto;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding: 16px 38px 10px 38px;
  }
}

.emotion__textarea {
  border: 2px solid $grey-light;
  border-radius: 1px;
  padding: 13px 20px;
  box-sizing: border-box;
  width: 280px;
  height: 197px;

  @media (min-width: $tablet-width) {
    width: 496px;
    height: 189px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 816px;
    height: 124px;
  }
}
