.form__progress {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 620px;
    background-color: $white;
    grid-area: progress;

    border: 2px solid $grey-light;
    padding-top: 49px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    //display: grid;
    //grid-template-columns: repeat(3, 1fr);
    //grid-template-rows: auto;
    //column-gap: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: space-between;
    padding: 48px 4px 8px 60px;
    //padding-left: 62px;
    //padding-right: 62px;
  }
}

.progress__title {
  line-height: 18px;
  text-align: center;
  position: absolute;
  width: 280px;
  top: 35px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    display: inline-block;
    text-align: center;
    width: 436px;
    padding-left: 31px;
    padding-right: 31px;

    br {
      display: none;
    }
  }
}


.progress__label {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 52px;
  padding-left: 60px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
    margin: 0;
    padding-left: 57px;
  }
}

.progress__label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $grey-light;
  top: -5px;
  left: 60px;
}

.progress__input:checked + .progress__label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url(../img/contest/check.svg);
  left: 69px;
  top: 6px;
}

.progress__input:hover + .progress__label::before {
  border: 2px solid $grey-basic;
}

.progress__input:active + .progress__label::before {
  border: 2px solid $pink-basic;
}

.progress__input:active:checked + .progress__label::before {
  border: 2px solid $pink-basic;
}
