.form__contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-area: contacts;

    box-sizing: border-box;
    border: 2px solid $grey-light;
    padding: 0 60px 0;
  }
}

.contacts__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 28px;
  }
}

.contacts__input-wrap {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 28px;
  }
}

.contacts__input {
  padding: 15px 20px;
  border: 2px solid $grey-light;
  border-radius: 1px;
}

.contacts__input:hover {
  border: 2px solid $grey-basic;
}

.contacts__input:active {
  border: 2px solid $pink-basic;
}

.contacts__label {
  display: inline-block;
  padding: 0 25px 6px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    padding-left: 17px;
    padding-bottom: 0;
  }
}

