.photo-editor {
  display: flex;
  flex-direction: column;
}

.photo-editor__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $grey-basic;
  text-align: center;

  width: 320px;
  margin: 22px auto 42px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    width: 660px;
    margin: 62px auto 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.photo-editor__wrap {
  background-color: $grey-background-effect;

  display: grid;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 12px;

    column-gap: 20px;
    grid-template-columns: repeat(2, 300px);
    grid-template-areas: "img editor" "img button";
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin-bottom: 35px;
  }
}

.photo-editor__wrap-img {
  @media (min-width: $tablet-width) {
    grid-area: img;
  }
}

.photo-editor__img {
  display: block;
  margin: 0 auto;
  padding: 20px 0 40px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
    padding-top: 58px;
  }
}

.photo-editor__wrap-selection-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;

  width: 200px;
  margin: 0 auto;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.photo-editor__selection-button {
  border: none;
  background-color: $grey-background-effect;
  padding: 0;
  margin: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.photo-editor__selection-button svg {
  fill: rgba($color: $grey-basic, $alpha: 0.3);
}

.photo-editor__selection-button--active svg{
  @media (max-width: $mobile-max-width) {
    fill: $pink-basic;
  }
}

.photo-editor__wrap-ranges {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-area: editor;

    width: max-content;
    margin-top: 41px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 55px;
  }
}

.photo-editor__wrap-range {
  border-bottom: 1px solid rgba($color: $grey-basic, $alpha: 0.1);

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-right: 20px;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    padding-right: 35px;
  }
}

@media (max-width: $mobile-max-width) {
  .photo-editor__wrap-range--fill,
  .photo-editor__wrap-range--contrast {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .photo-editor__wrap-range--crop::before {
    content: "";
    width: 22px;
    height: 22px;
    background-image: url("../img/catalog/catalog_crop.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    position: absolute;
    top: -10px;
    left: 30px;
  }

  .photo-editor__wrap-range--fill::before {
    content: "";
    width: 24px;
    height: 22px;
    background-image: url("../img/catalog/catalog_fill.svg");
    background-repeat: no-repeat;
    background-size: 24px 22px;
    position: absolute;
    top: -10px;
    left: 29px;
  }

  .photo-editor__wrap-range--contrast::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../img/catalog/catalog_contrast.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    position: absolute;
    top: -10px;
    left: 33px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__wrap-range--crop::before {
    width: 44px;
    height: 44px;
    background-size: 44px 44px;
    position: absolute;
    top: -22px;
    left: -12px;
  }

  .photo-editor__wrap-range--fill::before {
    width: 48px;
    height: 43px;
    background-size: 48px 43px;
    top: -22px;
    left: -12px;
  }

  .photo-editor__wrap-range--contrast::before {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    top: -18  px;
    left: -6px;
  }
}

.photo-editor__scale {
  width: 240px;
  height: 2px;
  background-color: $grey-basic;
  margin: 0 auto;
  margin-bottom: 33px;

  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.photo-editor__toggle {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $white;
  border: 2px solid $pink-basic;

  position: absolute;
  top: -5px;
  left: 80%;
}

@media (min-width: $tablet-width) {
  .photo-editor__wrap-range--fill .photo-editor__toggle {
    left: 12%;
  }

  .photo-editor__wrap-range--contrast .photo-editor__toggle {
    left: 48%;
  }
}

.photo-editor__wrap-buttons {
  padding: 38px 20px 43px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  @media (min-width: $tablet-width) {
    grid-area: button;

    padding-top: 51px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items:flex-end;
    padding-left: 0;
    margin-right: 30px;
    gap: 44px;
  }
}

.photo-editor__button {
  box-sizing: border-box;
  padding: 15px 90px;
  border-radius: 30px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 15px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 42px
  }
}

.photo-editor__button--submint {
  color: $pink-basic;
  border: 3px solid $pink-basic;
}

.photo-editor__button--submint:hover {
  color: $white;
  background-color: $pink-basic;
}

.photo-editor__button--submint:active {
  color: rgba($color: $white, $alpha: 0.3);
  background-color: $pink-basic;
}

.photo-editor__button--reset {
  color: rgba($color: $grey-basic, $alpha: 0.1);
  border: 3px solid rgba($color: $grey-basic, $alpha: 0.1);

  @media (min-width: $desktop-width) {
    padding: 15px 55px
  }
}

.photo-editor__button--reset:hover {
  color: rgba($color: $grey-basic, $alpha: 0.3);
  border: 3px solid rgba($color: $grey-basic, $alpha: 0.3);
}

.photo-editor__button--reset:active {
  color: rgba($color: $white, $alpha: 0.3);
  background-color: rgba($color: $grey-basic, $alpha: 0.3);
  border: none;
}
