.wrap-header-and-intro {
  background-color: $grey-dark;
  background-image: url("../../img/index/intro_back_mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 462px;
  background-position: 0 0;
}

.wrap-header-and-intro--open-menu {
  background-position: 50% 260px;
}
