footer.footer.footer-wrap
    div.footer__logo
      a(href="index.html")
        picture
          source(media="(min-width: 1200px)" srcset="img/logo_footer_desktop.svg")
          img(src="img/logo_footer_mobile_tablet.svg" width="145" height="40" alt="Лого Pink")
    div.footer__social.social
      ul.social__list
        li.social__item
          a.social__link(href="#")
            svg.social__svg(width="18" height="14" aria-hidden="true" focusable="false")
              use(xlink:href="img/icons/sprite.svg#icon_twitter")
        li.social__item
          a(href="#")
            svg.social__svg(width="9" height="18" aria-hidden="true" focusable="false")
              use(xlink:href="img/icons/sprite.svg#icon_fb")
        li.social__item
          a(href="#")
            svg.social__svg(width="15" height="13" aria-hidden="true" focusable="false")
              use(xlink:href="img/icons/sprite.svg#icon_youtube")
    div.footer__copyright.copyright
      a.copyright__link(href="https://htmlacademy.ru")
        span.copyright__text Разработано
        svg.copyright__svg(width="27" height="34" aria-hidden="true" focusable="false")
          use(xlink:href="img/icons/sprite.svg#icon_htmlAcademy")

script(src="js/mobile-menu.min.js")
