header Это шапка сайта
    nav Это навигационное меню сайта
        ul Я состою из списка
            li Первый пункт
            li Второй пункт
            li Третий пункт
            li Четвертый пункт
            li Пятый пункт