li 
    a(href="block")
        picture 
            source(media="(min-width: 1200px)" srcset="block")
            source(media="min-width: 660px)" srcset="block")
            img(src="block" width="block" height="block" alt="block")
    p block
    span block
    p block
    span block