.intro__wrap {
  position: relative;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "list . .";
  }
}

.intro__bg-img-phone {
  width: 320px;
  height: 286px;
  position: absolute;
  top: 109px;
  right: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 545px;
    top: 74px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    height: 645px;
    top: 98px;
    right: 5px;
  }
}

.intro__bg-img-screen {
  width: 111px;
  height: 197px;
  position: absolute;
  top: 141px;
  right: 105px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 195px;
    height: 346px;
    right: 94px;
    top: 128px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    height: 408px;
    top: 163px;
    right: 254px;
  }
}

.intro__wrap-content {
  display: grid;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    padding-left: 108px;
    margin-bottom: 59px;

    grid-area: list;
  }
}

.intro__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  text-align: center;
  z-index: 3;

  min-height: 360px;
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;

    margin-top: 94px;
    min-height: fit-content;
    padding-left: 48px;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;

    padding-left: 54px;
    margin-top: 100px;
    margin-bottom: 7px;
  }
}

.intro__link-wrap {
  background-color: $grey-dark;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 47px;

    z-index: 4;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }
}

.intro__button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  padding: 15px 26px;
  background-color: transparent;
  border: 3px solid $white;
  border-radius: 29px;
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  text-align: center;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-bottom: 70px;
  }
}

.intro__link-os {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;

  padding: 0 38px;

  @media (min-width: $tablet-width) {
    width: 206px;
  }
}

.intro__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  text-align: center;

  margin-top: 18px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;

    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
  }
}
